*{
    background-color: rgb(255, 174, 69);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px
}


.logo{
    padding: 1px;
    width: 100px;
    /* border: 1px solid black;
    translate: 600px; */
    position: relative;
    top: -74px;
    left: -21px; 
    margin: 2px;
    z-index: 1;
}

.imageprincipal:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.imageprincipal {overflow:hidden;
position: relative;
top: -88px;
left: -22px;
width: 100%;
    max-height: 190px;
    object-fit: cover;
    object-position: 0% 30%;}

/* .imageprincipal{
    width: 100%;
    max-height: 190px;
    object-fit: cover;
    object-position: 0% 30%;
 } */
    

.title{
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    color: rgb(255, 255, 254);
  }
  
  @keyframes slidein {
    from {
        margin-left: 40%;
        width: 110%;
    }
    
    100% {
        margin-left: 10%;
        width: 150%;
    }
  }

.menu{
    font-size: 20px;
    width: 349px;
    height: 100px;
    display: inline;
    position: relative;
    top: -72px;
    
        
      

    }


.subtitlebox{
    
    text-align: left;
    width: 100%;
    max-height: 40px;
    position: relative;
    top: -116px;
    left: 50%;
}
.subtitlefont{
    color: white;
    font-size: 30px;   
}
.cuerpo{
    margin: 10px;
    position: relative;
    top: -108px;
    left: 65px;
}

