*{
    padding: 0px;
    margin: 40px;
    font-family: sans-serif;
}
.header{
   min-height: 20vh;
}

.logo{
    background-color: white;
    padding: 1px;
    width: 100px;
    border: 1px solid black;
    translate: 600px;
    position: relative;
    top: 305px;
    left: 370px; 
    margin: 2px;
    z-index: 2;
}

.imageprincipal{
    width: 100%;
    max-height: 190px;
    object-fit: cover;
    object-position: 0% 30%;
    
}
.title{
    color: black;
    text-align: left;
    font-size: 45px;
    position: relative;
top:251px; left: 17px;

}
.menu {
    font-size: 20px;
    width: 198px;
    height: 67px;
    overflow-y: initial;
     line-height: 4em; 
    
}
.subtitlebox{
    
    background-color: black;
    text-align: center;
    width: 100%;
    max-height: 40px;
    position: relative;
    top: -190px;
}
.subtitlefont{
    color: white;   
}
.cuerpo{
    position: relative;
    top: -182px;
    left: 128px;
}
.textcuerpo{
    text-indent: 5rem;
}
